<section class="card">

  <section class="card-content">

    <img src="../../assets/Icon_2.jpg" alt="foto">
    <h2>Pedro Martinez</h2>
    <p>Edad: 24 Años</p>
    <p>Profesión: Panadero</p>

    <section class="card-buttons">
      <button >Seleccionar</button>
      <button>Detalle</button>
    </section>

  </section>

</section>

<section class="card">

  <section class="card-content">

    <img src="../../assets/Icon_2.jpg" alt="foto">
    <h2>Pedro Martinez</h2>
    <p>Edad: 24 Años</p>
    <p>Profesión: Panadero</p>

    <section class="card-buttons">
      <button >Seleccionar</button>
      <button>Detalle</button>
    </section>

  </section>

</section>

<section class="card">

  <section class="card-content">

    <img src="../../assets/Icon_2.jpg" alt="foto">
    <h2>Pedro Martinez</h2>
    <p>Edad: 24 Años</p>
    <p>Profesión: Panadero</p>

    <section class="card-buttons">
      <button >Seleccionar</button>
      <button>Detalle</button>
    </section>

  </section>

</section>


<section class="card">

  <section class="card-content">

    <img src="../../assets/Icon_2.jpg" alt="foto">
    <h2>Pedro Martinez</h2>
    <p>Edad: 24 Años</p>
    <p>Profesión: Panadero</p>

    <section class="card-buttons">
      <button >Seleccionar</button>
      <button>Detalle</button>
    </section>

  </section>

</section>


<section class="card">

  <section class="card-content">

    <img src="../../assets/Icon_2.jpg" alt="foto">
    <h2>Pedro Martinez</h2>
    <p>Edad: 24 Años</p>
    <p>Profesión: Panadero</p>

    <section class="card-buttons">
      <button >Seleccionar</button>
      <button>Detalle</button>
    </section>

  </section>

</section>
